
__pycache__/Commands.cpython-310.pyc
__pycache__/controllerrefactor.cpython-310.pyc
__pycache__/IdentifyBaseWord.cpython-310.pyc
__pycache__/loadgame.cpython-310.pyc
__pycache__/modelrefactor.cpython-310.pyc
__pycache__/pangramdb.cpython-310.pyc
__pycache__/savegame.cpython-310.pyc
__pycache__/wordlist.cpython-310.pyc
__pycache__/wordstuff.cpython-310.pyc
*.json
